# lbnamed.config -- lbnamed configuration for best.stanford.edu.  -*- sh -*-
#
# The first part of this file is a list of machines participating in a
# load-balance pool, the type of machine (from 0 to 10, where 0 is a pure
# user machine and 10 is a machine delivering a service that doesn't allow
# general logins -- this value is used to determine how much weight a
# login vs. a load point should be given in determining machine load;
# servers, at 10, will ignore the number of logins), and the load balance
# pools that it is participating in.
#
# One can put a number in parentheses after the name of a load balance
# pool; this is a "participation factor" for that pool.  The weight
# calculated for that system will be divided by the participation factor,
# so for example setting a participation factor of .1 in a load-balance
# pool will cause that system to only be handed out if all other systems
# in the pool have a weight at least 10 times the weight of that machine.
# This is primarily used to configure "hot spares."


##############################################################################
# Cluster and Timeshare Servers
##############################################################################

# Compute servers and large timeshare machines.  Pay attention to load for
# tree, but for cardinal base the decision almost entirely on the number
# of users logged in.
tree1.stanford.edu      8       tree sweet
tree2.stanford.edu      8       tree sweet
cardinal0.stanford.edu  1       cardinal sweet transfer
cardinal1.stanford.edu  1       cardinal sweet transfer
cardinal2.stanford.edu  1       cardinal sweet transfer
cardinal3.stanford.edu  1       cardinal sweet transfer
cardinal4.stanford.edu  1       cardinal sweet transfer
cardinal5.stanford.edu  1       cardinal sweet transfer

# myth workstations
myth1.stanford.edu      9       myth sweet
myth2.stanford.edu      9       myth sweet
myth3.stanford.edu      9       myth sweet
myth4.stanford.edu      9       myth sweet
myth5.stanford.edu      9       myth sweet
myth6.stanford.edu      9       myth sweet
myth7.stanford.edu      9       myth sweet
myth8.stanford.edu      9       myth sweet
myth9.stanford.edu      9       myth sweet

# elaine workstations
elaine1.stanford.edu    9       elaine fable(.001) sweet
elaine2.stanford.edu    9       elaine fable(.001) sweet
elaine3.stanford.edu    9       elaine fable(.001) sweet
elaine4.stanford.edu    9       elaine fable(.001) sweet
elaine5.stanford.edu    9       elaine fable(.001) sweet
elaine6.stanford.edu    9       elaine fable(.001) sweet
elaine7.stanford.edu    9       elaine fable(.001) sweet
elaine8.stanford.edu    9       elaine fable(.001) sweet

# fable workstations
fable1.stanford.edu     9       fable sweet
fable2.stanford.edu     9       fable sweet
fable3.stanford.edu     9       fable sweet
fable4.stanford.edu     9       fable sweet

# firebird workstations
firebird1.stanford.edu  9       firebird irix sweet
firebird2.stanford.edu  9       firebird irix sweet
firebird3.stanford.edu  9       firebird irix sweet
firebird4.stanford.edu  9       firebird irix sweet
firebird5.stanford.edu  9       firebird irix sweet
firebird6.stanford.edu  9       firebird irix sweet
firebird7.stanford.edu  9       firebird irix sweet


##############################################################################
# Web Infrastructure Servers
##############################################################################

# Production cgi servers.
cgi1.stanford.edu       10      cgi cgi-preprod
cgi2.stanford.edu       10      cgi cgi-preprod
cgi3.stanford.edu       10      cgi cgi-preprod

# Production www servers.
www1.stanford.edu       10      www www-leland
www2.stanford.edu       10      www www-leland
www3.stanford.edu       10      www www-leland
www4.stanford.edu       10      www www-leland
www5.stanford.edu       10      www www-leland


##############################################################################
# Client Systems
##############################################################################

# Yo-yo-dyne project
yo-yo-dyne-1.stanford.edu 10    yo-yo-dyne
yo-yo-dyne-2.stanford.edu 10    yo-yo-dyne


##############################################################################
# Time Servers
##############################################################################

# Networking time servers
xntp1.stanford.edu      10      xntp
xntp2.stanford.edu      10      xntp
xntp3.stanford.edu      10      xntp


###############################################################################
# TTL, MX, and top slice factor -- THIS BLOCK MUST BE LAST
###############################################################################

# Pool name   TTL  Top slice  MX
# ----------  ---  ---------  ----------------------
cardinal      0    2
elaine        0    3
fable         0    3
firebird      0    3
myth          0    3
sweet         0    3

www           5    0          leland.stanford.edu
www-leland    10   0          leland.stanford.edu

xntp          5

