Source: lbnamed
Section: net
Priority: optional
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl
# original maintainer: Russ Allbery <rra@debian.org>
Maintainer: František Dvořák <valtri@civ.zcu.cz>
Bugs: mailto:valtri@civ.zcu.cz
Standards-Version: 3.9.8
Homepage: http://www.stanford.edu/~riepel/lbnamed/

Package: lbnamed
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libstanford-dnsserver-perl
Description: load-balancing DNS name server
 lbnamed queries remote hosts running an lbcd responder and uses the
 returned weight information plus a configurable weighing algorithm to
 return potentially different DNS results on each query.
